@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne/test-soehne-buch.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne/test-soehne-kraftig.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne/test-soehne-halbfett.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne/test-soehne-dreiviertelfett.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html body * {
  font-family: "Soehne", helvetica, sans-serif !important;
}
